{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <img src="static/gord.jpg" height=219 width=146>
    <div class="row">
      <div class="col-sm-12"><h3>About the author</h3></div>
    </div>
    <div class="help-block"></div>
    <div class="row">
      <div class="col-sm-12">

I am a high-tech executive, steamed and seasoned along the way with an Engineering degree, an MBA and too many management development programs. My early technical roles taught me that people are more interesting than machines. Becoming a leader taught me that building heroes is much more satisfying than trying to be one and that helping others is immensely rewarding.
<br></br>

I inherited a passion for communication from my mother, a TV cooking show personality in the 50’s, a prolific author, public speaker and educator. From her I learned that writing and speaking are uniquely satisfying pursuits, a quiet battle between a clear concept and a means to externalize it. I didn’t get my mom’s love of food and cooking, but I themed this book as a nod to her lifelong passion of the culinary arts.
<br></br>

Over the years, I have seen many friends and colleagues struggle financially. Credit is easy and marketers have created powerful demand generating machines that sweep people out of fiscal control. My engineering love of efficiency got me thinking about ideas to improve people’s finances. What are the best personal finance hacks? And can we do that without sacrifice, complex budgets and onerous effort?
<br></br>

And so, my passion to help others, my love of writing and a collection of ideas for financial freedom all came together in a 3-year project. The Cashflow Cookbook is my way to give back. To teach students about financial literacy, to help young people avoid mistakes I’ve made, to steer people out of debt, to help young families build a more secure future, to move people to financial freedom and to allow retirees to get more from their savings. 
<br></br>
In between writing, I am a husband, proud dad, weekend warrior skier and sailor, investor and a passionate, but not yet great (OK not even good) guitar player. <br></br>
Enjoy the book, the web site and the community.<br></br>
Bon Appétit!<br></br>
Gordon Stein

</div>
</div>
{% endblock %}



