{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12"><h5>
We are in a financial crisis. Not as a country, but most of us as individuals.<br/><br/>
Personal debt is soaring, and many of us are squeezed between paycheques. A very sophisticated global marketing machine, works to separate us from the money we have. And then the money we don’t have.<br/><br/>
Financial freedom can eliminate worry and open up options and possibilities. It means that income stays ahead of expense. It can enable our dreams and free us from the tyranny of debt.<br/><br/>
Lots of books promise a solution: pay yourself first, save 10% of your income, invest your money. There are savings blogs that show us how to reuse our dryer sheets, grow our own spice garden and put tin foil on our windows to reduce air conditioning costs. Others have us building and tracking budgets. But what if we don’t have 10% to save? What is a dryer sheet? How much paprika do we eat in a year? What if we want to see out of our windows? And can I poke needles in my eyes instead of keeping a budget?<br/><br/>
So how do we get our finances in order without the work, hassles and sacrifices?<br/><br/>
Cash Flow Cook Book has been a multi-year project to make a difference in our finances with minimal effort and impact to our lifestyle. It began with a simple way to get free car washes, then extended to discover a full set of “recipes” that span every spending category. Cash Flow Cook Book serves up 60 recipes that can help a single person amass up to an extra $700,000 and a family up to $2,000,000 over 10 years. Yes, really.<br/><br/>
This site is a companion to the book and provides a pantry of information that works well with the book or on its own. Dig in, enjoy. Join the forum, get the book, try the recipes, let me know what you think.<br/><br/>
I am a high tech executive, husband, dad, weekend warrior skier and sailor, investor and a passionate, but not yet great (OK not yet even good) guitar player. I love helping others grow and reach their star. I have enjoyed coaching my employees at many companies on selling, communications, leadership and career development.<br/><br/>
Many of my employees have struggled with their personal finances and I have shared ideas with them along the way. Cash Flow Cook Book is a way to give back to all of them and to those I haven’t met who want a path to a secure feature.<br/><br/>
To all of you, bon appétit!<br/><br/>
Gordon Stein<br/><br/>
            <h5>
        </div>
    </div>
</div>
{% endblock %}



