{% extends "bootstrap/base.html" %}
{% block title %}Cashflow Cookbook{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $('#reply').on('shown.bs.collapse', function () {
     document.getElementById('reply').scrollIntoView();
    });
});
</script>
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block navbar %}
{% set menu_items = [("About", "about"), ("Appetizers", "recipes"), ("Utensils", "utensils"), ("Ingredients", "ingredients"), ("Subscribe", "subscribe")] %}
<nav class="navbar navbar-default">
    <div class="container-fullwidth">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for("home") }}" style="color:white;">Cashflow Cookbook</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
        {% for item in menu_items %}
            <li>
                <a href="{{ url_for(item[1]) }}" style="color:white;">{{ item[0] }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
