{% extends "bootstrap/base.html" %}

{% block title %}Cashflow Cookbook{% endblock %}

{% block navbar %}

<link type="text/css" rel="stylesheet" href="/static/style.css"/>

{% set menu_items = [("About", "about"), ("Receipes", "recipes"), ("Utensils", "utensils")] %}

<nav class="navbar navbar-default" style="background-color:#ccffb3">
    <div class="container-fullwidth">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for("home") }}">Cashflow Cookbook</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
        {% for item in menu_items %}
            <li>
                <a href="{{ url_for(item[1]) }}">{{ item[0] }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 align="center"> Why am I here ?</h1>
        </div>
    </div>
    <div class="help-block"></div>
</div>
{% endblock %}
