{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 align="center">Welcome to the Cashflow Cookbook! <h1>
        </div>
    </div>
    <div class="help-block"></div>
    <div class="row">
        <div class="col-sm-12">
            <h4 align="center">Recent articles<h4>
        </div>
    </div>
    <div class="row">
        {% for recipe in new_recipes %}
            <div class="col-sm-12 col-md-4">
            <img src="static/{{ recipe[1] }}" class="img-responsive">
            <h3><a href='{{ url_for('full_recipe', recipe_id=recipe[0].id) }}' style="text-decoration:none; color: inherit">{{ recipe[0].title }}</a></h3>
            {{ recipe[0].text[:200] }}...
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
