{% extends "index.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
<div class="container">
    {% for recipe in recipes %}
    <div class="row">
        <div class="col-sm-12"><h3><a href='{{ url_for('full_recipe', recipe_id=recipe.id) }}' style="text-decoration:none; color: inherit">{{ recipe.title }}</a></h3>
        </div>
    </div>
    <div class="help-block"></div>
    <div class="row">
        <div class="col-sm-12">{{ recipe.text[:600] }}...</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
